html{
    margin: 0;
}

body{
    margin: 0%;
    font-family: 'Quicksand';
    font-size: 30px;
    color: white;
    
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img{
    max-width: 80%;
    max-height: 50%;
}
a{
    transform: translateY(-100%);
    text-align: center;

    display: inline-block;
    border: 2px solid #ffd992;    
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 17px;
    transition: all 0.5s;
    color: #ffd992;
    text-decoration: none;
    margin: 10px;
}

a:hover{
    background-color: #ffd992;
    border: 2px solid white;
    color: white;
}
/*
.btn1{
    position: absolute;
    top: 25%;
}

.btn2{
    position: absolute;
    top: 50%;
}
    */
